.search-input{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey ;
    height: 50px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 638px;
    margin: 0 auto;
    max-width: 750px;

}

.search-input > input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    font-size: medium;
}

.search-input > input:focus{
    outline:none;
}

.search-input-icon{
    color: gray;
}

.search-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.mic-icon{
    height: 30px;
    padding-left: 10px;
}

.cross-icon{
    height: 30px;
    padding-right: 10px;
    border-right: 1px solid lightgrey;
}

.search-buttons-hidden{
    visibility: hidden !important;
}

.search-buttons button{
    margin:5px;
    padding:7px 15px;
    background-color: #f8f8f8 ;
    border: 1px solid white;
    color: gray;
    text-transform: inherit;
}

.search-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1 );
    border: 1px solid #c6c6c6;
    color: #222;
}